body {
    margin: 0;
    padding: 0;
    list-style: none
}


/* Navigation */

.logo {
    width: 100px;
    height: 100px;
    padding-top: 5px;
    padding-right: 5px;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #98CCD3;
    top: 0%;
    width: 100%;
}

nav a {
    color: #132238;
    font-family: 'Merriweather Sans', sans-serif;
    align-self: center;
    text-decoration: none;
    font-size: 1rem;
    padding: 1rem;
}

a:hover {
    color: #6998AB;
}


/* Introduction */

.introduction {
    background-color: #EBF0F6;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    margin: 30px 0;
}

.julia-img {
    height: 515px;
    padding: 30px;
}

.intro {
    flex: 300px;
    text-align: left;
}

h1.name {
    font-family: 'Courgette', cursive;
    color: #364E68;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 3%;
}

h3.personal {
    font-family: 'Merriweather Sans', sans-serif;
    color: #132238;
    text-align: center;
}

h3.designer {
    font-family: 'Merriweather Sans', sans-serif;
    color: #132238;
    text-align: center;
    padding: 3%;
}

p.description {
    font-family: 'Merriweather Sans', sans-serif;
    color: #132238;
    padding: 10px 20px;
}


/* Education */

.education {
    background-color: #EBF0F6;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    margin: 20px 0;
}

.studies {
    font-family: 'Merriweather Sans', sans-serif;
    color: #132238;
    flex: 200;
    padding: 40px 30px;
}

.study-img {
    height: 350px;
}


/* Experience */

.experience {
    background-color: #F3F9FB;
    display: flex;
    flex-flow: row wrap-reverse;
    align-items: center;
    margin: 20px 0px;
}

.work {
    font-family: 'Merriweather Sans', sans-serif;
    color: #132238;
    flex: 200px;
    text-align: center;
    padding-top: 30px;
}

.work-img {
    height: 350px;
}


/* Projects an Hobbies */

.project-hobbies {
    display: flex;
    flex-flow: row wrap;
    margin: 20px 0;
}

.projects {
    background-color: #F3F9FB;
    font-family: 'Merriweather Sans', sans-serif;
    color: #132238;
    flex: 200;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}

.project a {
    font-family: 'Merriweather Sans', sans-serif;
    color: #132238;
}

.artistic-img {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    max-width: auto;
}

.hobbies {
    background-color: #EBF0F6;
    font-family: 'Merriweather Sans', sans-serif;
    color: #132238;
    flex: 200;
    text-align: center;
    padding-top: 40px;
    padding-right: 30px;
}

h2 {
    color: #132238;
    margin: 0px;
}

h3 {
    color: #132238;
    margin: 0px;
}

p {
    font-family: 'Merriweather Sans', sans-serif;
    color: #132238;
    margin: 0px 40px;
    line-height: 25px;
    letter-spacing: 2px;
    padding-bottom: 20px;
}


/* Footer */

.footer {
    background-color: #98CCD3;
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    line-height: 2.5;
    padding: 30px 0 20px;
}

.footer a {
    padding: 10px 20px;
    text-decoration: none;
    color: dimgray;
}

.footer a:hover {
    color: darkgray;
}

.copyright {
    color: dimgray;
    font-family: 'Merriweather Sans', sans-serif;
    letter-spacing: 1px;
    padding-top: 10px;
}

@media screen and (max-width: 700px) {
    nav {
        justify-content: center;
    }
    .julia-img {
        width: 300px;
        height: 375px;
    }
    .study-img {
        width: 375px;
    }
    .work-img {
        width: 375px;
    }
    .artistic-img {
        width: 375px;
    }
    .hobbies {
        padding-bottom: 30px;
    }
}
